.designation{
	color:#181818;
}
#name{
color: white;
}
.header-section{
background-color: 	#0099FF;
padding-top: 2%;
padding-bottom: 2%;
padding-left:3%;
}

#profileImg{

	margin-left:3%;
}
.footer-section{
background-color: 	#0099FF;
}
.link{
	padding-left:50px;
	padding-right:50px;
}